
  * {
    border: solid 1px;
}


body {
  font-family: 'Ubuntu', sans-serif;
}

.container {
  font-family: 'Ubuntu', sans-serif;
  font: helvetica;
}

.navbar {
  text-align: center;
  width: 100%;
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  letter-spacing: 2px;
  font-size: 1em;
  font-family: 'Ubuntu', sans-serif;
}

.navbar ul {
  list-style-type: none;
  padding-left: 5%;
  padding-right: 5%;
}

.links a{
  text-decoration: none;
  color: #000000;
  font-weight: bold;
}

.links li a:hover{
    color: #EC421D !important;
}

.links {
  color: #000000;
}

.links li {
  padding-left: 3%;
  padding-right: 3%;
  display: inline-block;
  font-family: 'Ubuntu', sans-serif;
}

.footer {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
}

.title-heading p {
  width: 100%;
  min-height: 160px;
  margin: auto;
  font-family: 'Ubuntu', sans-serif;
  font-size: 5em;
  text-align: center;
  color: #000000;
  padding-top: 50px;
}

.secondary-title-heading p {
  width: 100%;
  min-height: 100px;
  margin: auto;
  font-family: 'Ubuntu', sans-serif;
  font-size: 3.5em;
  text-align: center;
  color: #000000;
  padding-top: 40px;
}

.main-section-text {
  text-align: center;
}

.aboutme {
  display: inline-block;
  margin-top: 5%;
  margin-bottom: 5%;
}

.img-div {
  display: inline-block;
  width: auto;
  height: auto;
  margin-left: 8%;
}

.para-div {
  float: right;
  margin-left: 5%;
  margin-right: 15%;
  margin-top: 2%;
  width: 50%;
  display: inline-block;
  letter-spacing: 1.30px;
  line-height: 160%;
  height: auto;
  text-align: justify;
}

.aboutme-img {
  max-width: 250px;
  max-height: 300px;
  border-radius: 100px;
}

.connect {
  text-align: center;
}

.connect h2 {
  color: #000000;
}

.contact-connect {
  text-align: center;
  padding-top: 1%;
}

.social-media {
  list-style: none;
  padding-left: 0;
}
.social-media li {
  display: inline-block;
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

.social-media li a:hover {
  color: #1abc9c !important;
  text-decoration: none;
}

.icon {
  padding-left: 2%;
  padding-right: 2%;
}

.xbox {
  /*color: #2FC001;*/
  color: #0FC200;
}

.got a {
  text-decoration: none;
  color: #D68C01;
}

.got {
  color: #D68C01;
}

.got a:link, a:visited {
  text-decoration: none;
  decoration: none;
}

.asu {
  color: #F39C12;
  text-decoration: none;
}

.asu a:link, a:visited {
  text-decoration: none;
  decoration: none;
}

.degree {
  color: #BD003D;
}

.gcrms {
  color: #20D304;
}

.img-section {
  width: 100%;
  height: auto;
  margin: auto;
  text-align: center;
}

.img-section-img {
  max-width: 200px;
  max-height: 200px;
  border: solid 1px black;
  border-radius: 100px;
}

.text-section {
  margin: auto;
  width: 100%;
  height: auto;
  text-align: justify;
  line-height: 160%;
  letter-spacing: 1.30px;
}

#text-section-head {
  padding-top: 1%;
  text-align: center;
  font-weight: bold;
}

.text-section p {
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 1.5%;
}

.follow {
  text-align: center;
}

.main-section-email {
  text-align: center;
  padding-bottom: 1.5%;
}

#email-button {
  background-color: #EC421D;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
  width: 10%;
  height: auto;
  padding-top: 1%;
  padding-bottom: 1%;
  border: 1px solid white;
  border-radius: 8px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  font-weight: bold;
}

#email-button:hover {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #EC421D;
  font-weight: bold;
}

#tcs-img {
  max-width: 350px;
  max-height: 175px;
  text-align: center;
}

#asu-img {
  max-width: 350px;
  max-height: 175px;
  text-align: center;
}

#aeeiee-img {
  max-width: 350px;
  max-height: 175px;
  text-align: center;
  padding-left: 2%;
}

.sections {
  width: 100%;
  margin-top: 2%;
  margin-bottom: 6%;
}

.work-img-section {
  width: 30%;
  height: auto;
  display: inline-block;
  margin-left: 7%;
  float: left;
  padding-top: 4%;
  padding-right: 1%;
}

.work-text-section {
  width: 55%;
  display: inline-block;
  letter-spacing: 1.30px;
  line-height: 160%;
  margin-right: 7%;
  text-align: justify;
}

#tcs-name {
  color: #0092C9;
}

#asu-name {
  color: #F39C12;
}

#aeeiee-name {
  color: #D43100;
}

.work-text-section a {
  text-decoration: none;
}

#work-dates {
  font-weight: bold;
}

#work-positions {
  font-weight: bold;
}

@media only screen and (max-width: 768px) {

  .navbar ul {
    padding-left: 0;
  }

  .icon {
    padding-left: 4%;
    padding-right: 4%;
  }

  .title-heading p {
    font-size: 3.5em;
  }

  .links li {
    width: 100%;
    margin: auto;
    padding-top: 8px;
  }

  .head-nav {
    background-size: cover;
    background-position: 55% 35%;
  }

  .para-div {
    width: 100%;
    text-align: center;
    margin-top: 7%;
    margin: auto;
  }

  .para-div p {
    letter-spacing: normal;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 7%;
    line-height: 175%;
  }

  .img-div {
    width: 100%;
    text-align: center;
    margin: auto;
    margin-top: 5%;
  }

  .img-section-img {
    max-width: 180px;
    max-height: 180px;
    border: 1px solid black;
    border-radius: 90px;
  }

  .text-section {
    text-align: justify;
  }

  .text-section p {
    padding-bottom: 3.25%;
    line-height: 150%;
    letter-spacing: normal;
  }

  #text-section-head {
    padding-top: 1.5%;
    text-align: center;
  }

  #email-button {
    width: 40%;
    min-height: 40px;
  }

  .contact-text {
    padding-top: 3%;
    padding-bottom: 3%;
  }

  .contact-connect p {
    margin: auto;
    text-align: center;
  }

  .sections {
    width: 100%;
    padding-bottom: 7%;
    margin-bottom: 2%;
  }

  .work-img-section {
    width: 100%;
    text-align: center;
    margin: auto;
  }

  .work-text-section {
    width: 100%;
    margin: auto;
    padding-bottom: 5%;
  }

  .work-text-section p {
    padding-left: 7%;
    padding-right: 7%;
    text-align: justify;
    padding-top: 2%;
  }

  .work-text-section h3 {
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 2%;
    text-align: center;
  }

  #work-dates {
    text-align: center;
  }

  #work-positions {
    text-align: center;
  }

  #tcs-img {
    max-width: 300px;
    max-height: 150px;
  }

  #asu-img {
    max-width: 300px;
    max-height: 150px;
  }

  #aeeiee-img {
    max-width: 300px;
    max-height: 150px;
    padding-top: 7%;
  }

  .sections {

  }
}
