$button-displacement: 5px;

body {
	
	font-family: 'Oxygen', sans-serif;
	
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100vh;
		width: 100vw;
		white-space: normal;
		
		button {
			display: block;
			padding: 2rem;
			font-size: 1.5rem;
			border: 1px solid #C0392B;
			margin-bottom: 10px;
			border-radius: 5px;
			background: #C0392B;
			color: #fff;
			cursor: pointer;
			box-shadow: 0 $button-displacement $button-displacement #616A6B;
			transition: transform 0.12s ease-in-out, background 0.12s ease-in-out;
			
			&:active {
				transform: translateY(2px);
				background: #922B21;
			}
		}
		
		p {
			font-size: 1.2rem;
			
		}
	}
}